* {
  margin: 0px;
}

header {
  background-color: #d9d9d9;
  padding: 20px;
}

.frame {
  display: flex;
  flex-direction: column;
}

.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  display: inline;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
}

.nav_menu {
  margin-right: 50px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal {
  margin: 50px;
  width: 250px;
  height: 500px;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 30px;
}

h5 {
  background-color: gray;
  height: 50px;
  line-height: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

p {
  padding: 150px 0;
}
